body {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.top {
  background-image: linear-gradient(to bottom right, aqua, darkblue);
  padding-top: 15px;
  padding-bottom: 50px;
}

.bottom {
  padding-bottom: 50px;
  padding-top: 50px;
}

.features {
  color: #E1D9D1;
  background-image: linear-gradient(to bottom, gray, darkgreen);
}

.feature {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.list {
  justify-content: center;
  
}

.link {
  border: 6px;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  color: #414A4C;
  background-color: skyblue;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .feature {
    border-bottom: 0.009px solid;
  }
}

.topbar {
  overflow: hidden;
  width: 100%;
  padding-bottom: 35px;
}


.toplink {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.toplink:hover {
  background-color: #ddd;
  color: black;
}
