body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  background-image: url(assets/splash.avif);
}

.form-modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: fit-content;
  min-width: 300px;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 32px;
  border-radius: 4px;
}

@media(max-height: 500px), (max-width: 500px) {
  .form-modal {
    height: auto;
    width: 90%;
  }
}

.home {
  display: flex;
  max-height: 100vh;
  max-width: 100%;
}

.sidebar {
  position: relative;
  flex-grow: 1;
  width: 400px;
  height: 100vh;
  overflow: auto;
}

.conversation {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
