body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, darkgreen 0%, darkblue 100%);
}

.form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: fit-content;
  min-width: 300px;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 32px;
  border-radius: 4px;
}

.form-input {
  min-width: 150px;
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
}

.form-submit {
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}

.form-submit:hover {
  background: #008CBA;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

.form-submit:disabled {
  opacity: 0.2;
}

.form-error {
  color: red;
}

@media(max-height: 500px), (max-width: 500px) {
  .form-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: unset;
    transform: unset;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0px;
    overflow: scroll;
  }
}

.home {
  display: flex;
  max-height: 100vh;
  max-width: 100%;
}

.sidebar {
  position: relative;
  flex-grow: 1;
  width: 400px;
  height: 100vh;
  overflow: auto;
}

@media(max-width: 500px) {
  .sidebar {
    width: 100%;
    height: 100vh;
    border: none;
    overflow: auto;
  }
}

.conversation {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.messages {
  overflow-y: auto;
  word-break: break-word;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.message {
  margin-left: 10px;
  margin-right: 10px;
}

.message-input {
  justify-content: center;
  max-height: 50vh;
  width: 100%;
  padding: 12px 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.09);
  color: white;
}

.message-input:focus {
  outline: none;
}
